main {
  width: 30%;
  border: 1px solid grey;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

#flags-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 3rem;
  height: 40vh;
  border: 1px solid orange;
  margin: 0.5em;
}

/* #game-canvas {
  border: 1px solid grey;
} */

#controls {
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 0.5em;
}

#log {
  background: lightsteelblue;
  padding: 4px;
  margin: 4px;
  border-radius: 4px;
  color: white;
  width: fit-content;
}
